body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  text-align: center;
}

.calendarCustom{
  text-align: center;
}

.calendar{
  margin-top: 15%;
  text-align: left;
  font-size: small;
}

.calculateButton{
  margin-top: 5%;
}